body
	padding 0
	margin 0
	
.chart
	width 450px
	height 300px
	background linear-gradient(#693275, #090b28)
	border-radius 15px
	box-sizing border-box
	box-shadow 0 0 15px #000000, inset 0 0 0 2px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 1)
	margin-left 15px
	margin-top 15px
